th {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

.required th {
    font-weight: bold;
}


.table_header {
	/* background-color: #f3ae4c; */
	background-color:#0896ad;
	text-align:center; 
	color:white;
}