<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Event List</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAnoSK2eAZ-aaXYnvMOaTesb9WyYGra1ik&amp;sensor=false"
            type="text/javascript"></script>

	<script type="text/javascript">
//<![CDATA[

           
	${json}
           
	${json_l}
    
           
	/**
	 * The map object, null until script loads in.
	 * @type {GMap2}
	 */
	var map = null;  
	
	/**
	 * The bounds of the markers once loaded in.
	 * @type {GLatLngBounds}
	 */
	var bounds = null;
	
	/**
	 * The marker with currently opened info window.
	 * @type {GMarker}
	 */
	var currentMarker = null;
	
	/**
	 * The dom element that the map is loaded into
	 * @type {Element}
	 */
	var mapDiv = null;
	
	/**
	 * The dom element that everything is a child of.
	 * @type {Element}
	 */
	var containerDiv = null;
	
	/**
	 * Position of mouse click (clientX) on map div when in static mode.
	 * @type {Number}
	 */
	var clickedX = 0;
	
	/**
	 * Position of mouse click (clientY) on map div when in static mode.
	 * @type {Number}
	 */
	var clickedY = 0;
	
	/**
	 * Called after script is asynchronously loaded in.
	 * Creates the GMap2, GMarker objects and performs actions according to 
	 * what the user did to trigger the map load (search, zoom, click etc).
	 */
	function loadMap() {
	  if (GBrowserIsCompatible()) {
	    mapDiv.style.background = '#fff';
	    mapDiv.style.cursor = '';
	    map = new GMap2(mapDiv, {logoPassive: true});
	    
	    map.setMapType(G_PHYSICAL_MAP);
	
	    map.addControl(new GLargeMapControl());
	    map.addControl(new GScaleControl());
	    map.addControl(new GMapTypeControl());
	    map.addControl(new GOverviewMapControl( ));
	
	
	    bounds = new GLatLngBounds();
	    for (var i = 0; i < businesses.length ; i++) {
	      bounds.extend(new GLatLng(businesses[i].lat, businesses[i].lng));
	    }
	    var latSpan = bounds.toSpan().lat();
	    map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
	
	    // The static map server gives markers more space when calculating
	    // bounds and zoom level, so sometimes the API will give a higher
	    // zoom level than was used by the static map server.
	    // The .98 value is just a guess right now, may need tweaking.
	    var newBounds = map.getBounds();
	    var newLatSpan = newBounds.toSpan().lat();
	    if (latSpan/newLatSpan > .90) { map.zoomOut(); }
	
	    for (var i = 0; i < businesses.length; i++) {
		      var marker = createMarker(i);
		      map.addOverlay(marker);
		    }

	    for (var i = 0; i < last.length; i++) {
		      var marker = createMarkerLast(i);
		      map.addOverlay(marker);
		    }

        map.setUIToDefault();

	    zoomToAll();
	  }
	}
	
	/**
	 * Zooms to the viewport that fits all the markers.
	 */
	function zoomToAll() {
	  map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
	}
	
	/**
	 * Creates a marker for the given business.
	 * @param {Number} ind
	 * @return {GMarker}
	 */
		function createMarker(ind) {
			
		    var baseIcon = new GIcon();
		    baseIcon.shadow = null;
		    baseIcon.iconSize = new GSize(12, 12);
		    baseIcon.shadowSize = new GSize(0,0);
		    baseIcon.iconAnchor = new GPoint(6, 6);
		    baseIcon.infoWindowAnchor = new GPoint(9, 2);
		    baseIcon.infoShadowAnchor = new GPoint(18, 25);
		
		    var coldIcon = new GIcon(baseIcon);
		    coldIcon.image = "/images/event.png";
		
		  var business = businesses[ind];
		  var marker = new GMarker(new GLatLng(business.lat, business.lng), {icon:coldIcon, title: business.desc });
		  GEvent.addListener(marker, 'click', function() {
		    marker.html = ['<b>', business.nome, '</b><br>', business.descricao, '<br> ', business.projeto];
		    currentMarker = marker;
		    marker.openInfoWindowHtml(marker.html);
		  });
		  return marker;
		}
		
		function createMarkerLast(ind) {
			
		    var baseIcon = new GIcon();
		    baseIcon.shadow = null;
		    baseIcon.iconSize = new GSize(12, 12);
		    baseIcon.shadowSize = new GSize(0,0);
		    baseIcon.iconAnchor = new GPoint(6, 6);
		    baseIcon.infoWindowAnchor = new GPoint(9, 2);
		    baseIcon.infoShadowAnchor = new GPoint(18, 25);
		
		    var coldIcon = new GIcon(baseIcon);
		    coldIcon.image = "/images/star2.png";
		
		  var business = last[ind];
		  var marker = new GMarker(new GLatLng(business.lat, business.lng), {icon:coldIcon, title: business.desc });
		  GEvent.addListener(marker, 'click', function() {
		    marker.html = ['<b>', business.nome, '</b><br>', business.descricao, '<br> ', business.projeto];
		    currentMarker = marker;
		    marker.openInfoWindowHtml(marker.html);
		  });
		  return marker;
		}
		
	/**
	 * Formats business info into a URL-friendly version for maps url.
	 * @param {Object} business
	 * @return {String}
	 */
	function formatAddressForMaps(business) {
	  var address = business.nome + ' ' + business.descricao + ' ' + business.projeto;
	  return escape(address.replace(' ', '+'));
	}
	
	/**
	 * Convenience function for creating an element and assigning an id to it.
	 * @param {String} elementType
	 * @param {String} id
	 * @return {Element} 
	 */
	function _cel(elementType, id) {
	  var element = document.createElement(elementType);
	  element.id = id;
	  return element;
	}
	
	/**
	 * Sets up the gadget by setting CSS and click events.
	 */
	function loadMapGadget() {
	  mapDiv = document.getElementById('map');
	
	  mapDiv.style.cursor = 'pointer';
	
	  var urlString = ['http://maps.google.com/staticmap?markers='];
	  var markerString = [];
	  for (var i = 0; i < businesses.length; i++) {
	    markerString.push(businesses[i].lat + ',' + businesses[i].lng + ',red');
	  }
	  urlString.push(markerString.join('|'));
	  urlString.push('&amp;size=300x300');
	  urlString.push('&amp;key=AIzaSyAnoSK2eAZ-aaXYnvMOaTesb9WyYGra1ik');
	  mapDiv.style.background = 'url(\'' + urlString.join('') + '\')';
	
	  loadMap();
	
	}
	//]]>
	</script>

</head>

<body onload="loadMapGadget();" onunload="GUnload()">

  <div id="getting_started">
  
  	<h1>Lista de Eventos:</h1>
  	
  	<table width="100%"><tr>
  		<td height="250px">
			<div width="100%" >
				FALTA: <br />
				MELHORAR DETALHES !!! <br />
				filtros para selecionar eventos<br />
				link para sismograma<br />
				filtro por estacoes<br />
				filtro por caixa<br />
				filtro por distancia<br />
				animacao<br />

				<div id="map" style="width:100%; height:350px; overflow:hidden;"></div>
			
			</div>  		
  		</td>
  	</tr></table>
  
	<table py:with="cls=cycle(('#ffffff', '#ccebef'))"  width="100%"  style="text-align: center;" >
	        <tr class='table_header'>
	            <td>Onde</td>
	            <td>Hora</td>
	            <td>Latitude</td>
	            <td>Longitude</td>
	            <td>Profundidade</td>
	            <td>Tamanho (estacoes)</td>
	        </tr>
    	
        <py:for each="evt in events">
	        <tr style="background-color: ${cls.next()}">
	            <td style="text-align: center;"><a href="/events/${evt.id}">${evt.desc}</a></td>
	            <td style="text-align: center;">${evt.time}</td>
	            <td style="text-align: center;">${evt.lat}</td>
	            <td style="text-align: center;">${evt.lon}</td>
	            <td style="text-align: center;">${evt.dep}</td>
	            <td style="text-align: center;">${evt.mag}</td>
	        </tr>
        </py:for>
    </table>
  </div>
<!--
<div class="clearingdiv" />
<div class="notice">E nois!!!
</div>
-->  
</body>
</html>
