<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Event List</title>
</head>

<body>
    ${sidebar_top()}
  <div id="getting_started">
    <table>
	        <tr>
	            <td>id</td>
	            <td>time</td>
	            <td>lat</td>
	            <td>lon</td>
	            <td>dep</td>
	        </tr>
    	
        <py:for each="evt in events">
	        <tr>
	            <td>${evt.id}</td>
	            <td>${evt.time}</td>
	            <td>${evt.lat}</td>
	            <td>${evt.lon}</td>
	            <td>${evt.dep}</td>
	        </tr>
        </py:for>
    </table>
  </div>
  <div class="clearingdiv" />
  <div class="notice">E nois!!!
  </div>
</body>
</html>
