<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>eh nois....</title>
</head>

<body>
    ${sidebar_top()}
  <div id="getting_started">
    <h2>NOIS CONSULTA</h2>
    <p>tentando consultar alguma coisa pra ver se eh nois</p>
    <ol id="getting_started_steps">
      <li class="getting_started">
        <h3>eh nois...</h3>
        <p> eh nois mesmo!!</p>
      </li>
    </ol>
  </div>
  <div class="clearingdiv" />
  <div class="notice">quem 'e?! ja falei... eh nois!
  </div>
</body>
</html>
