<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Sismologia-IAG-USP</title>
</head>

<body>
  <!-- ${sidebar_top()} -->
  <div id="getting_started">
    <h2>Laboratorio de Sismologia IAG-USP</h2>
    <p>Missao:
    <li>
    i) Monitorar a atividade sísmica de todo o Brasil com localização
    de epicentros e determinação de magnitudes em tempo real, 
    emitindo alertas e boletins para esclarecimento da população, e 
    fornecimento de dados iniciais às autoridades, defesa civil, e imprensa.
	</li>
	<li>
	ii) Fornecer dados de forma de onda (sismogramas) em tempo real de acesso livre 
	a qualquer pesquisador brasileiro incentivando a pesquisa científica e 
	o maior conhecimento da sismicidade do Brasil, do nível de risco sísmico, e 
	da estrutura da crosta e manto superior.
	</li>
	<li>
	iii) Gerenciar um banco de dados sismológicos do Brasil, 
	emitindo boletins sísmicos em tempo real com os sismos ocorridos no território brasileiro e 
	regiões vizinhas, em conjunto com as outras instituições e redes sismológicas do Brasil.
	</li>
	</p>
    <ol id="getting_started_steps">
      <li class="getting_started">
        <h3>Boletim Sismico Brasileiro</h3>
        <p>Informacoes atualizadas sobre os eventos sismicos detectados.</p>
      </li>
      <li class="getting_started">
        <h3>Estacoes Sismograficas</h3>
        <p>Informacoes sobre a rede de estacoes sismograficas operadas pelo IAG-USP</p>
      </li>
      <li class="getting_started">
        <h3>Sismogramas</h3>
        <p>Saiba como requisitar sismogramas ao Laboratorio de Sismologia</p>
      </li>
    </ol>
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Thank you for choosing TurboGears.
  </div>



</body>
</html>
