<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Estacoes Sismograficas</title>
</head>

<body>
  <div id="getting_started">
    	
  	<table width="100%"><tr>
  		<td height="250px">
			<div width="100%" >
				FALTA: <br />
				MELHORAR DETALHES !!! <br />
				filtros para selecionar estacoes<br />
				link para sismogramas<br />
				filtro por eventos<br />
			</div>  		
  		</td>
  		<td>
			<div width="100%">
				FALTA: <br />
				mapa com estacoes<br/>
				filtro por caixa<br />
				filtro por distancia<br />
			</div>  		
  		</td>
  	</tr></table>
  
  
    <table  py:with="cls=cycle(('#ffffff', '#ccebef'))"  width="100%"  style="text-align: center;" >
	        <tr class="table_header" >
	            <td>Rede.Estacao</td>
	            <td>Local</td>
	            <td>Latitude</td>
	            <td>Longitude</td>
	            <td>Elevacao</td>
	        </tr>
    	
        <py:for each="s in stations">
	        <tr style="background-color: ${cls.next()}">
	            <td style="text-align: center;">
	            	<a href="/stations/${s.NN}.${s.SSSSS}" >${s.NN}.${s.SSSSS}</a>
	            </td>
	            <td>${s.desc}</td>
	            <td>${s.lat}</td>
	            <td>${s.lon}</td>
	            <td>${s.ele}</td>
	        </tr>
        </py:for>
    </table>
  </div>
  <div class="clearingdiv" />
  <div class="notice">E nois!!!
  </div>
</body>
</html>
