<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Sismogramas</title>
</head>

<body width="100%">
	<h1>Requisicao de Sismogramas:</h1>

  <div  width="100%" id="getting_started">
	<iframe width="100%" height="100%" style="border-width: 0;" src="http://www.sismo.iag.usp.br/arclink/query" />
  </div>
  <div class="clearingdiv" />
</body>
</html>
